* {
    outline: 1px rgb(248, 107, 130) dotted;
}

:root {
    --navy: #061130;
    --blue: #1C4BC4;
    --white: #F4F6F8;
    --yellow: #FAFD61;
    --gray: hsl(240, 1%, 75%);
}

body {
    margin: -25;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--navy);
    color: var(--white);
    display: flex;
    align-items: center;

}

body {
    background-color: var(--navy);
    color: var(--white);
    align-items: center;
}

footer {
    background-color: var(--white);
    color: var(--blue);
    justify-content: space-around;
    align-items: center;

}

.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuBar-Links {
    display: flex;
}

.bodyCard {
    padding: 45px;
}

.heroCards {
    padding: 45px;
}

.margin {
    margin: 10px
}

a {
    color: var(--white);
    padding: 15px;
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.logo {
    display: inline-grid;
    justify-content: start;
    align-items: start;
    margin-top: 0 margin-left 0;
}

.letsChat {
    background-color: #1C4BC4;
    border-radius: 22%;
}

/* 
.footerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.footerBar-Links {
    display: flex;
    border: 0;
    margin: 0;
    justify-content: space-evenly;
}

.footerBar-Links a {
    color: var(--blue);
}

.bg-Gray {
    background-color: var(--gray);
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.font-black {
    color: black;
}